<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <table class = "table table-hover">
                <thead class = "thead-dark">
                    <tr>
                        <th>Drug Id</th>
                        <th>Drug Name</th>
                        <th>Drug Type</th>
                        <th>Description</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let x of drug">
                        <td>{{ x.id}}</td>
                        <td>{{ x.drugName}}</td>
                        <td>{{ x.drugType}}</td>
                        <td>{{ x.drugDesc}}</td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>
</div>


