<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">HealthcareManagementSystem</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>








      <li class="nav-item" *ngIf="nurse">
        <a href="/patient/list" class="nav-link" routerLink="patient/list">Patient List</a>
      </li>
      <li class="nav-item" *ngIf="nurse">
        <a href="/nurseentry/list" class="nav-link" routerLink="nurseentry/list">Nurse Entries</a>
      </li>
      <li class="nav-item" *ngIf="nurse">
        <a href="/patient/insert" class="nav-link" routerLink="patient/insert">Insert Patient</a>
      </li>
      <li class="nav-item" *ngIf="nurse">
        <a href="/nurseentry/insert" class="nav-link" routerLink="nurseentry/insert">Insert Nurse Entry</a>
      </li>


      <li class="nav-item" *ngIf="pharmacist">
        <a href="/drug/list" class="nav-link" routerLink="drug/list">Drugs List</a>
      </li>
      <li class="nav-item" *ngIf="pharmacist">
        <a href="/pharmacyentry/list" class="nav-link" routerLink="pharmacyentry/list">Pharmacy Entries</a>
      </li>
      <li class="nav-item" *ngIf="pharmacist">
        <a href="/drug/insert" class="nav-link" routerLink="drug/insert">Insert Drug</a>
      </li>
      <li class="nav-item" *ngIf="pharmacist">
        <a href="/pharmacyentry/insert" class="nav-link" routerLink="pharmacyentry/insert">Insert Pharmacy Entry</a>

      













    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>